# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.git
target
*.log
*.log.*
/pinyougou-dao/pinyougou-dao.iml___jb_tmp___
/springboot/mvnw.cmd
/springboot/mvnw
